{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
}

:{$PORT:3000} {
    log {
        format json
    }

    rewrite /health /*
    root * dist
    encode gzip
    file_server
    try_files {path} /index.html
}
